<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" 
		href="../css/bootstrap.min.css"
		th:href="/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="py-5 text-center">
			<h1>스케줄러</h1>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" 
					class="btn btn-outline-secondary btn-lg">
				로그인
				</button>
			</div>
			<div class="col">
				<button type="button" onclick="location.href='login.html'"
					th:onclick="|location.href='@{/login}'|"
					class="btn btn-outline-secondary btn-lg">
				회원가입
				</button>
			</div>
		</div>
	</div>
</body>
</html>